<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
		<!-- Main CSS -->
		<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
		<!-- Custom CSS -->
		{% if page.custom_css %}
			{% capture css_link %}/assets/css/{{ page.custom_css }}{% endcapture %}
			<link rel="stylesheet" href="{{ css_link | relative_url }}"/>
		{% endif %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}"/>

		<title>{{ page.title }}</title>
	</head>

	<body>