@charset "UTF-8";

:root {
	/* root is for css variables */
	--content-width: 65rem;
	--bg-col: #34342d;
	--txt-col: #f5f5cb; /* standard text color */

	--scrollbar-color: #626251 var(--bg-col); /* scrollbar styling */
	--txt-lt-col: #777; /* lighter grey */
	--mid-grey-col: rgba(0,0,0,.25);
	--litegrey-col: rgba(0,0,0,.06);
	--contrast-col: #cece37;
	--mint-col: #C4E6C3; /* soft mint green */
	--red-col: #733B40; /* dampened red */
	--hazard-col: #EC5F41; /* screaming orange */
	--trans-dflt: 0.135s cubic-bezier(.79,.14,.15,.86); /* default transition values; circular instead of ease-in-out */
	--trans-all: all var(--trans-dflt); /* simple catch all */
	--max-content-width: 1400px;
}

/* ---------------------- GLOBALS ----------------------*/
html {
	font-size: 15px; /* this is one REM */
	box-sizing: border-box;
	scrollbar-color: var(--scrollbar-color);
	scrollbar-width: thin;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

::-moz-selection,
::selection {
	background: var(--contrast-col);
	color: var(--bg-col);
	text-shadow: none;
}

body {
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.4rem;
	height: 100%;
	width: 100%;
	color: var(--txt-col);
	background: url("/assets/img/background.jpg") #34342d;
	counter-reset: sidenote-counter;
}

a {
	color: currentColor;
	text-decoration: underline;
	transition: color var(--trans-dflt);
}
a:hover {
	color: var(--hazard-col);
}
::-moz-focus-inner {
	/* disable that focus thing Firefox is doing */
	border: 0;
}
figure > a {
	background: none !important;
}

li {
	list-style: none;
}

strong, b {
	font-weight: 700;
}

del {
	text-decoration: line-through;
}
ins {
	text-decoration: underline wavy var(--mint-col);
}

code, pre > code {
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.1rem;
	line-height: 1.42;
	hyphens: none;
	tab-size: 4;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-webkit-text-size-adjust: 100%; /* Prevents adjustments of font size after orientation changes in iOS. */
}
pre > code {
	font-size: 1.1rem;
	display: block;
}
:not(pre) > code, :not(pre) > code[class*="language-"] {
	/* inline code */
	padding: 3px 5px;
	background: var(--litegrey-col);
	border-radius: 4px;
}
div.code-toolbar + pre > code {
	/* subtitle for code blocks */
	font-family: minima, sans-serif !important;
	font-size: 0.7em;
	margin-bottom: 1rem;
}

kbd {
	font-family: 'Share Tech Mono', monospace;
	background-color: #fafbfc;
	border: 1px solid var(--mid-grey-col);
	border-radius: 4px / 5px;
	box-shadow:  inset 0 -0.175rem 0 var(--contrast-col);
	color: var(--txt-lt-col);
	margin: 0 2px;
	padding: 0.2rem 0.4rem;
	vertical-align: middle;
	font-size: 80%;
	position: relative;
	bottom: 0.2rem;
}

table {
	text-align: left;
	border-collapse: collapse; /* means no rounded corners */
	border: 1px solid var(--mid-grey-col);
	font-size: 0.8em;
}
table th, table td {
	padding: 8px 10px;
}
table th { /* TABLE HEAD */
	font-weight: 400;
	color: var(--txt-lt-col);
	background-color: #ebe7d9;
	border: 1px solid var(--litegrey-col);
	border-bottom-color: #c9c9c9;
	text-shadow: 0 1px var(--bg-col);
	letter-spacing: 0.05em;
}
table td {
	border: 1px solid var(--litegrey-col);
}
table tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.3);
}
table tr:nth-child(even) {
	background-color: rgba(40,38,37,0.05);
}

/* ---------------------- LAYOUT ----------------------*/
