@charset "UTF-8";

/* custom css for 404 not found*/
.site {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
	height: 100vh;
}

#error-img {
	margin-bottom: 1rem;
	outline: 1px solid #000000;
	border-width: 1px;
	border-style: solid;
	border-color:rgb(241, 241, 241) #808080 #808080 rgb(241, 241, 241);
}

h1 {
	font-size: 4rem;
}

section p {
	padding-top: 0.9rem;
}